# Mods / binaries
minecraft/mods/
*.jar

# Saves and logs
minecraft/saves/
minecraft/logs/
minecraft/crafttweaker.log
minecraft/journeymap/journeymap.log
minecraft/usercache.json

# Generated mixin output
minecraft/.mixin.out/

# JourneyMap runtime/cache files
minecraft/journeymap/data/